button {    
    position: absolute;
    right: 0px;
    top: -5px;

    .mat-icon {
        font-size: 50px;
        border: 2px
    }   
}

mat-form-field {
    font-size: 20px;
    width: 100%;  
}

form {
    border: 2px
}

.mat-form-field-wrapper {
    width: 100%;
    border: 0px;
    padding: 0px!important;
}

input {
    border-radius: 5px;    
    border-width: 10px;
    border-color: lightskyblue;
}
